<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title th:if="${pageTitle != null}" th:text="${pageTitle}"></title>

    <!--공통 스타일-->
    <link rel="stylesheet" type="text/css" th:href="@{/common/css/style.css}">
    <!--동적 처리 : common을 통한 반복을 통해서 가져온 cssFile 값을 뒤에 file=${cssFile}를 통해 가져온다.-->
    <link rel="stylesheet" type="text/css" th:each="cssFile : ${addCommonCss}" th:href="@{/common/css/{file}.css(file=${cssFile})}">
    <!--관리자용 스타일-->
    <link rel="stylesheet" type="text/css" th:href="@{/admin/css/style.css}">
    <!--동적 처리 : admin을 통한 반복을 통해서 가져온 cssFile 값을 뒤에 file=${cssFile}를 통해 가져온다.-->
    <link rel="stylesheet" type="text/css" th:each="cssFile : ${addCss}" th:href="@{/admin/css/{file}.css(file=${cssFile})}">


    <th:block layout:fragment="addCss"></th:block>


    <!--공통 스크립트-->
    <script th:src="@{/common/js/common.js}"></script>
    <!--동적 처리-->
    <script th:each="jsFile : ${addCommonScript}"
            th:src="@{/common/js/{file}.js(file=${jsFile})}"></script>
    <!--관리자용 스크립트-->
    <script th:src="@{/admin/js/common.js}"></script>
    <!--동적 처리-->
    <script th:each="jsFile : ${addScript}"
            th:src="@{/admin/js/{file}.js(file=${jsFile})}"></script>


    <th:block layout:fragment="addScript"></th:block>
</head>
<body>
    <!--헤더내의 common 내용으로 교체가 된다.-->
    <header th:replace="~{admin/outlines/header::common}"></header>
    <main layout:fragment="content"></main>
    <header th:replace="~{admin/outlines/footer::common}"></header>
</body>
</html>